body{
    background-color: #ffebe6;
}.app-title{
    text-align: center;
    color: #ff3300;
}
.app-body{
    display: flex;
    justify-content: space-around;
}

.add-container{
 
}
.sub-heading{
    text-align: center;
    font-size: 25px;
}

.user-input{
    display: block;
    padding: 5px;
    margin: 30px;
    border-radius: 5px;
    border: #ff3300 solid 1px;
    font-size: 25px;
}
.btn-add-contact{
    display: block;
    padding: 10px 30px;
    margin: 30px auto;
    border-radius: 30px;
    background-color:#ff3300;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
